.about_cont{
    padding: 20px clamp(10px, 3%, 100px);
    display: flex;
    flex-direction: row;
    height: calc(100vh - (25vh + 100px));
    box-sizing: border-box;
}

.images{
    width: 40%;
    height: 100%;
    background-color: blue;
}

.about_count h2{
    display: inline;
}

