.booking_form{
    margin: 20px 20%;

}

.booking_form fieldset{
    border: 2px solid var(--blue);
    border-radius: 20px;
}

legend{
    background-color: var(--dark-blue);
    border-radius: 20px;
    padding: 2px 30px;  
    color: white;

}

.booking_form input{
    background-color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--blue);
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    margin: 10px 10px;
}

.booking_form input:focus-visible{
    background-color: lightgray;
    border: none;
    border-bottom: 2px solid var(--light-blue);
}
