
.courses_nav{
    background-color: var(--blue-grey);
    height: 25vh;
    width: 100%;
    z-index: 1;
}

.main_btn{
    /* background-color: aqua; */
    width: 100%;
    height: 60%;
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 2;
    /* justify-content: space-evenly; */
}

/* .button_cont{
    position: absolute;
    width: 100%;
    height: 100%;
} */

.main_btn button{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    width: calc(100% / 3);
    height: 100%;
    min-height: 90px;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

.main_btn button h2{
    color: white;
    font-size: 2rem;
    opacity: 100%;
}

.main_btn button:hover{
    cursor: pointer;
    /* border-bottom: 2px solid white;
    border-top: 2px solid white; */
    /* background-color: var(--light-blue); */
}

.main_btn button:hover h2{
    font-size: 2.1rem;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

/* .main_btn button:focus{
    background-color: var(--blue-grey);
} */

/* .select{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 3);
    height: 100%;
    background-color: red;
    opacity: 50%;
    z-index: 3;
} */

.main_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 3);
    height: 100%;
    background-color: var(--blue);
    /* box-shadow: 0px 9px 29px -4px #000000; */
    z-index: -1;
    transform: var(--select-position);
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}

.sub_btn_cont{
    width: 100%;
    height: 40%;
    background-color: var(--blue);
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.slide_cont{
    width: 300vw;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    transform: var(--select-subbtn-posistion);
    transition: 0.4s;
    transition-timing-function: ease-in-out;

}

.sub_btn{
    width: 100vw;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sub_btn button{
    width: calc(100% / 4 - 10px);
    height: 70%;
    background-color: aliceblue;
    border: none;
    font-size: 1rem;
}

.sub_btn button:hover{
    background-color: rgb(178, 195, 209);
    transition: 0.3s;
}

/* course info */
.course_display{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 15px clamp(10px, 3%, 100px);
}

.course_outline{
    width: 50%;
    height: auto;
    margin: 0;
}

.course_outline dt{
    font-size: 1.1rem;
}

.course_outline dd{
    margin-bottom: 10px;
    margin-left: 30px;
}


