.courses_title_card{
    background-color: var(--blue-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
}

.courses_title_card h1{
    color: white;
}