header{
    background-color: var(--white);
    height: 50px; 
    width: 100%;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    bottom: 0;
    flex-direction: row;
    padding: 0 clamp(10px, 3%, 100px);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.brand{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 30px;
    height: 100%;
    background-color: whitesmoke;
    /* get logo */
}

.nav{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    justify-self: flex-end;
}

.nav_btn{
    background-color: var(--blue);
    color: white;
    width: 100px;
    height: 28px;
    /* margin: auto 10px; */
    font-size: 0.8rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.nav_btn:nth-child(2){
    margin: 0 20px;
}

.nav_btn:hover{
    background-color: var(--blue-grey);
    transition: 0.2s;
}

.drop_icon{
    display: none;
}

.mobile_nav_toggle_btn{
    display: none;
}

.user_icon{
    width: 40px;
    height: 40px;
    background-color: var(--blue);
    margin-left: 20px;
    /* clip-path: circle(50% at 50% 50%); */
    border-radius: 5px;
    background-image: url(../images/account_icon_white.svg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

@media screen and (max-width: 700px) {
    .nav{
        display: none;
    }

    .nav button{
        display: none;
    }

    .mobile_nav_toggle_btn{
        display: flex;
        position: static;
        width: 40px;
        height: 40px;
        background-color: var(--blue);
        cursor: pointer;
    }

    .drop_icon{
        /* clip-path: polygon(91% 33%, 50% 84%, 8% 35%, 33% 35%, 50% 56%, 65% 33%); */
        clip-path: polygon(90% 50%, 50% 80%, 10% 50%, 10% 20%, 50% 50%, 90% 20%);
        background-color: var(--light-blue);
        display: block;
        width: 100%;
        height: 100%;
        transform: rotate(0deg);
        transition: 0.3s;
    }
    
    .mobile_nav{
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 40vh;
        background-color: var(--blue);
        flex-direction: column;
        z-index: 2;
    }

    .m_nav_btn{
        background-color: red;
        width: 100%;
        height: calc(100% / 3);
        background-color: var(--blue);
        color: white;
        border: none;
        font-size: 2rem;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border-bottom: 2px solid var(--light-blue); */
    }

    .m_nav_btn:hover{
        background-color: var(--blue-grey);
        transition: 0.2s;
    }

    .blur{
        background-color: black;
        opacity: 50%;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .hide{
        display: none;
    }

}

