:root{
    /* color */
    --white: white;
    --dark-blue: #274060;
    --blue: #335c81;
    --light-blue: #65afff; 
    --deep-blue: #1b2845;
    --blue-grey: #5899e2;

    font-size: 16;
}

body{
    padding: 0;
    margin: 0;
}

/* main body */
.wrapper{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;

}

h1{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    color: var(--dark-blue);
}

h2{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: var(--white);
    height: 50px; 
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: row;
    /* padding-top: auto;
    padding-bottom: auto; */
    padding-right: clamp(10px, 3%, 90px);
    /* padding-left: 90px; */
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
}

.logo{
    width: 30px;
    height: 100%;
    background-color: whitesmoke;
}

.nav{
    /* background-color: grey; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
/* move to end */

.nav div{
    background-color: var(--blue);
    color: white;
    width: 100px;
    height: 28px;
    margin: auto 1%;
    font-size: 0.8rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main{
    height: 3000px;
    width: 100%;
    background-color: blue;
}

.heroimage{
    background-color: lightblue;
    background-image: url(/images/hero_image_edit_3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 70vh;
    overflow: hidden;    
}

/* make image not die when thing */

/* .heroimage img{
    width: 100%;
    height: ;
} */

/* @media only screen and (max-width: 1500px) {
    .heroimage{
        background-color: lightblue;
        background-image: url(/images/hero_image_edit_3.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 150%;
        width: 100%;
        height: 70vh;
        overflow: hidden;    
    }
  } */

.info{
    background-color: var(--blue-grey);
    height: 30vh;
}


