:root{
    /* color */
    --white: white;
    --dark-blue: #274060;
    --blue: #335c81;
    --light-blue: #65afff; 
    --deep-blue: #1b2845;
    --blue-grey: #5899e2;

    font-size: 16;
}

body{
    padding: 0;
    margin: 0;
}

/* main body */
.wrapper{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.header{
    background-color: var(--white);
    height: 50px; 
    width: 100%;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    bottom: 0;
    flex-direction: row;
    /* padding-top: auto;
    padding-bottom: auto; */
    padding-right: clamp(10px, 3%, 90px);
    /* padding-left: 90px; */
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.logo{
    width: 30px;
    height: 100%;
    background-color: whitesmoke;
    /* get logo */
}

.nav{
    /* background-color: grey; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
/* move to end */

.nav div{
    background-color: var(--blue);
    color: white;
    width: 100px;
    height: 28px;
    margin: auto 1%;
    font-size: 0.8rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    height: auto;
    width: 100%;
    background-color: blue;
}

.heroimage{
    /* background-color: lightblue; */
    background-image: url(/images/hero_image_edit_3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 65vh;
    overflow: hidden;    
}

/* make image not die when thing */

/* .heroimage img{
    width: 100%;
    height: ;
} */

/* @media only screen and (max-width: 1500px) {
    .heroimage{
        background-color: lightblue;
        background-image: url(/images/hero_image_edit_3.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 150%;
        width: 100%;
        height: 70vh;
        overflow: hidden;    
    }
  } */

.info_cont{
    background-color: var(--blue-grey);
    height: calc(35vh - 50px);
    display: flex;
    flex-direction: row;
    padding: 15px 100px;
}

.info_text{
    /* background-color: red; */
    color: white;
    width: calc(100% / 3 * 2); /* 2/3 */
    padding-right: 15px;
    box-sizing: border-box;
}

/* bold text */
.info_text h3{
    font-size: 2rem;
    margin-bottom: 25px;
}

/* main text */
.info_text p{
    font-size: 1.5rem;
}

.info_image{
    /* background-color: red; */
    width: calc(100% / 3);  /* 1/3 */
    height: 100%;
}

.info_image img{
    height: 100%;
    width: auto;
}

.bottomhalf{
    background-color: aliceblue;
    height: calc(100vh - 50px);
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.wave_1{
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.wave_2{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    
}

path{
    fill: var(--blue-grey);
}

