.user_inter{
    width: 100vw;
    height: calc(100vh - 50px);
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
}

.course_feed{
    background-color: white;
    width: 40vw;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course_feed h2{
    margin: 5px 0;
}

.enrol_info{
    /* background-color: blue; */
    border-top: 4px solid black;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    overflow-y: auto;
}

.enrolment{
    background-color: white;
    border: 2px solid var(--blue-grey);
    border-radius: 20px;
    width: auto;
    height: 300px;
    min-height: 300px;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course_name{
    width: 100%;
    height: auto;
}

/* .enrolment h2{
    width: 100%;
    height: 10%;
} */

.info_col{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: calc(100% - 39px);
    /* background-color: red; */
}

.last_col{
    display: flex;
    flex-direction: column-reverse;
    width: 25%;
    height: calc(100% - 39px);
}

.info_col p{
    padding: 3px 0;
}

.user_info{
    width: 40vw;
    height: 100%;
    /* background-color: red; */
}

.un_e{
    border-radius: 8px;
    border: 1px solid red;
    align-self: flex-end;
    padding: 3px;
}

.unenrol_cont{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: auto;
    height: calc(100vh - 50px);
    /* min-width: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.unenrol_form{
    flex-direction: column;
}


